<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container p-3 my-3 border bg-primary text-white">
Welcome to the local ads table!
</div>

<div class="row bg-success text-dark" >
  <div class="col"> Kategoria ogłoszenia
  <ul class="list-group">
    <li class="list-group-item">First item</li>
    <li class="list-group-item">Second item</li>
    <li class="list-group-item">Third item</li>
  </ul>
      <input type="submit" class="btn btn-info" value="Submit Button">
  </div>
  <div class="col">Autor ogłoszenia
   <ul class="list-group">
    <li class="list-group-item">First item</li>
    <li class="list-group-item">Second item</li>
    <li class="list-group-item">Third item</li>
  </ul>
      <input type="submit" class="btn btn-info" value="Submit Button">
  </div>
  <div class="col"> Słowo kluczowe
   <ul class="list-group">
    <li class="list-group-item">First item</li>
    <li class="list-group-item">Second item</li>
    <li class="list-group-item">Third item</li>
  </ul>
<input type="submit" class="btn btn-info" value="Submit Button">
  </div>
</div>

</body>
<script src="js/basic_view.js"></script>
</html>