<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Zarejestruj autora ogłoszeń </title>
</head>

<div class="container p-3 my-3 border bg-primary text-white">
Zarejestruj autora ogłoszeń

<body>
<div class = row bg-success text-dark" >
<form action ="" method = "POST">
    {%  csrf_token %}
    <label> Podaj imię </label>
    <input type="text" name="name" maxlength="64"> <br>
    <label> Podaj nazwisko </label>
    <input type="text" name="surname" maxlength="64"> <br>
    <label> Podaj nr telefonu </label>
    <input type="number" name="phone"> <br>
    <label> Podaj adres email </label>
    <input type="email" name="email" > <br>
    <input type="submit" name="submit" value="Zatwierdź">
</form>
</div>
</div>
</body>
</html>