<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Lokalna Tablica Ogłoszeń</title>
</head>
<body>
<div class="container p-3 my-3 border bg-primary text-white">
Witamy w Lokalnej Tablicy Ogłoszeń.
</div>
<form action="" method = "POST">
        {% csrf_token %}
<div class="row bg-success text-dark" >
  <div class="col"> Kategoria ogłoszenia <br>

  <select multiple name="category" class="category">
      {%  for category in categories %}
              <option value={{ category.0 }}>{{category.1}}</option>
          {% endfor %}
    </select>
{#   <input type="submit" class="btn btn-info" value="Zaznacz wszystkie">#}
  </div>

  <div class="col">Autor ogłoszenia <br>
  <select multiple name="author" class="author">
          {%  for author in authors %}
              <option value={{ author.id }}>{{author.surname}}</option>
      {% endfor %}
  </select>
{#      <input type="text" class="btn btn-info" value="Zatwierdź">#}
  </div>
  <div class="col"> Słowo kluczowe
      <input type="text" maxlength="64" name="keyword">

{#<input type="text" class="btn btn-info" value="Zatwierdź">#}
  </div>
</div>
<div class="container p-3 my-3 border bg-primary text-white">
<input type="submit" value="Wyszukaj ogłoszenia">
</div>
</form>
<div class="container p-3 my-3 border text-dark">
<a href='/add_user/'> Chcesz dodać ogłoszenie? Najpierw zarejestruj się w bazie.</a>
</div>
<div class="container p-3 my-3 border text-dark">
<a href="/new_ad/">Jesteś już zarejestrowanym użytkownikiem? Tutaj możesz dodać swoje ogłoszenie.</a>
</div>
</body>
{#<script src="js/app.js"></script>#}
</html>