<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Lokalna Tablica Ogłoszeń</title>
</head>
<body>
<div class="container p-3 my-3 border text-dark">
<div class="row p-3 my-3 border text-dark">
WITAMY W LOKALNEJ TABLICY OGŁOSZEŃ DSM NIEPRUSZEWO
</div>

<div class = 'row'>
    <div class="col p-3 my-3 border text-dark">
    Szukasz czegoś konkretnego? Wybierz z poniższych opcji:
    </div>
    <div class="col p-3 my-3 border text-dark">
    Chcesz dodać ogłoszenie? Najpierw zarejestruj się w bazie.
    <a href='/add_user/'> Kliknij tutaj </a>
    </div>
    <div class="col p-3 my-3 border text-dark">
    Jesteś już zarejestrowanym użytkownikiem? Tutaj możesz dodać swoje ogłoszenie.
    <a href="/new_ad/"> Kliknij tutaj </a>
    </div>
</div>

 <form action="" method = "POST">
        {% csrf_token %}

 <div class="row">
     <div class="col p-3 my-3 border text-dark">
        Kategoria ogłoszenia <br>

     <select multiple name="category" class='select2-dropdown'>
      {%  for category in categories %}
              <option value={{ category.0 }}>{{category.1}}</option>
          {% endfor %}
        </select> <br>
{#        <input type="submit" class="btn btn-info" value="Zaznacz wszystkie">#}
     </div>

     <div class="col p-3 my-3 border text-dark">
        Autor ogłoszenia <br>
         <select multiple name="author" class="author">
          {%  for author in authors %}
              <option value={{ author.id }}> {{ author.name }} {{author.surname}}</option>
            {% endfor %}
         </select> <br>
{#      <input type="text" class="btn btn-info" value="Zaznacz wszystkich">#}
    </div>

     <div class="col p-3 my-3 border text-dark"> Słowo kluczowe
      <input type="text" maxlength="64" name="keyword">
     </div>

 </div>

    <div class="row p-3 my-3 border text-dark">
    <input type="submit" value="Wyszukaj ogłoszenia">
    </div>
 </form>

</div>
</body>
{#<script src="js/app.js"></script>#}
</html>