<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Lokalna Tablica Ogłoszeń</title>
</head>
<body>
<div class="container p-3 my-3 text-dark">
<div class="row p-3 my-3 border text-dark">
    <strong>
WITAMY W LOKALNEJ TABLICY OGŁOSZEŃ DSM NIEPRUSZEWO
    </strong>
</div>

<div class = 'row'>
    <div class="col p-3 my-3 border text-dark">
    Szukasz czegoś konkretnego? Wybierz z poniższych opcji lub <br>
        <a href="/all_ads"> pokaż wszystkie ogłoszenia </a>
    </div>
    <div class="col p-3 my-3 border text-dark">
    Chcesz dodać ogłoszenie?
    <a href='/new_ad/'> Kliknij tutaj </a>
    </div>
</div>

 <form action="" method = "POST">
        {% csrf_token %}

 <div class="row">
     <div class="col p-3 my-3 border text-dark">
        Kategoria ogłoszenia <br>

     <select name="category" class='select2-dropdown'>
            <option value="7"> dowolna </option>
      {%  for category in categories %}
              <option value={{ category.0 }}>{{category.1}}</option>
          {% endfor %}
        </select> <br>
     </div>
 </div>

<div class="row p-3 my-3 border text-dark"> Słowo kluczowe
    <input type="text" maxlength="64" name="keyword">
</div>

    <div class="row p-3 my-3  text-dark">
    <input type="submit" name='selected' value="Wyszukaj ogłoszenia">
    </div>
 </form>

</div>
</body>

{#<footer>#}
{#        Lokalna tablica ogłoszeń, wersja: {{ version }} <br>#}
{#        Dzisiaj jest {{ now }}#}
{#</footer>#}
</html>