<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Wyszukane ogłoszenia</title>
</head>
<body>
<div class="container p-3 my-3 border text-dark">
Znaleziono poniższe ogłoszenia <br>
<table class="table table-striped table-bordered">
<thead>
<tr>
    <th> Numer ogłoszenia </th>
    <th>Tytuł</th>
    <th> Treść ogłoszenia</th>
    <th> Kategoria</th>
    <th> Dane kontaktowe </th>
    <th> Usuwanie ogłoszenia </th>
</tr>
</thead>

    {% for ad in chosen_ads %}
        <tr>
        <td> {{ ad.id }} </td>
        <td>{{ ad.title }} </td>
        <td> {{ ad.content }}</td>
        <td> {{ ad.get_category_display }}</td>
        <td>{{ ad.contact}} </td>
        <td>
            <a href="/remove_ad/{{ ad.id }}/">usuń ogłoszenie</a>
        </td>
        </tr>
    {% endfor %}
</table>
</div>
</body>
</html>